@charset "utf-8";
/* CSS Document */
H1  {
	color:#009;
	font-size:40px;
	text-align:center;
}
h2{
	color:#63F;
	font-size:38px;
	text-align:left;
}
h3 {
	background-color:#FCF;
	font:italic small-caps 700 1.2em/1.5em Arial, Helvetica, sans-serif, "Comic Sans MS", cursive;
	text-align:justify;
}
mc{
	text-align:center;
	}